<!-- https://icons.getbootstrap.com/ -->
<div class="top-row ps-3 navbar navbar-dark">
	<div class="">
		<a class="navbar-brand" href="">AnalitysIQ - ERP</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="PlanDeCuenta">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Plan de Cuenta
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Asientos">
				<span class="bi bi-cash-coin fs-5" style="margin-top:-30px;" aria-hidden="true"></span>Asientos
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Gastosfijos">
				<span class="bi bi-cash fs-5" style="margin-top:-30px;" aria-hidden="true"></span>Gastos Fijos
			</NavLink>
		</div>
	</nav>
</div>
